# Discord OAuth2 application
DISCORD_CLIENT_ID=DEINE_CLIENT_ID
DISCORD_CLIENT_SECRET=DEIN_CLIENT_SECRET
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback

# Discord server (Guild)
DISCORD_GUILD_ID=DEINE_SERVER_ID
DISCORD_BOT_TOKEN=DEIN_BOT_TOKEN

# Discord role IDs
# Rollen
BURGER_ROLE_ID=DEINE_BÜRGER_ROLLEN_ID
BRUDERSCHAFT_ROLE_ID=DEINE_BRUDERSCHAFT_ROLLEN_ID

# Website security
SESSION_SECRET=BITTE_EIN_LANGES_ZUFAELLIGES_GEHEIMNIS_SETZEN
ADMIN_CODE=1583
PORT=3000
